@keyframes fadeIn {
  from {
    transform: translateY(35px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(6px);
  }
}

@keyframes fadeRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50px);
    opacity: 0;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  25% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  25% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeOutLeft {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(-150px);
    opacity: 0;
  }
}
@keyframes fadeOutRight {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(150px);
    opacity: 0;
  }
}
